@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap");

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/ClashDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/ClashDisplay-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-clash {
    font-family: "ClashDisplay", sans-serif;
  }

  .font-figtree {
    font-family: "Figtree", sans-serif;
  }

  .nav-item {
    @apply px-3 py-2 hover:text-white/70;
  }

  .hamburger-nav-item {
    @apply font-figtree font-semibold text-2xl sm:text-4xl text-center px-7 sm:px-12 py-4 sm:py-6 border border-white/10 rounded-full text-white bg-white/5;
  }
}
